// preload 

@mixin word-wrap() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.word-wrap {
  @include word-wrap();
}

// header
.hr-header{
  margin-top: 0rem;
}

.user-link{
  color: #4a4a4a;
  margin: 8px;
}

.subtitle{
  color: $grey-light;
}

.subtitle .description{
  font-size: 2pt;
}

.post-list a, .title a {
  color: $grey-dark;
}

.post-list a:hover, .title a:hover {
  color: $blue;
}

  // header
.menu-link a{
  color: $grey-dark;  
  margin-right:1rem;
  line-height: 2.3;
  text-transform: lowercase;
}
.active {
  font-weight: bold;
}
.menu-link a:hover{
  color: $blue;
}

.box{
  box-shadow: none;
  padding: .9rem;
}

.card{
  margin: 0.7rem;
  border-radius: 7.5px;
}

.card-content{
 padding: 0.7rem;
}

.tag{
  margin: 3px;
}

body {
  margin: 0;
  padding: 15px;
}

h1,h2,h3, .title, .logo{
  // font-family: 'Trirong', sans-serif;
  font-weight: 600;
  font-family: Helvetica, Arial, sans-serif;
}
